<!DOCTYPE html>
<html ng-app="spotifyApp">

	<head>
		<title>Spotify</title>
		<meta charset = "utf-8"/>
   		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  	</head>

  	<body ng-controller="mainController">

		<div class="container">
			<div class="header">
				<h1>Sign-up</h1>
			</div>
			<form ng-submit="addUser()">
				<input type="text" ng-model="signupData.username" placeholder="Username" required="true"/><br/>
				<input type="password" ng-model="signupData.password" placeholder="Password" required="true"/><br/>
				<input type="email" ng-model="signupData.email" placeholder="Email Address" required="true"/><br/>
				<input type="text" ng-model="signupData.birthday" placeholder="Birthday" required="true"/><br/>
				<input type="text" ng-model="signupData.gender" placeholder="Gender" required="true"/><br/>
				<input type="submit" value="Submit"/>
			</form>	
			<a href="http://0.0.0.0:3000/">Home</a>
		</div>

	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
 	<script src="bower_components/angular-route/angular-route.min.js"></script>
	<script src="javascripts/app.js"></script>
  </body>

</html>
